html, body{
  /* /* background-color: #460B2F; */
  background-color : #460B2F; 
  /* background: url(img/band3.jpg); */
  
  background-size: 100% auto;
  /* margin: 0; */
  /* padding: 0; */
  overflow: hidden;

}
@font-face {
  font-family: samark;
  src: url(img/SAMAN__.TTF);
}
  .input_video {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    bottom: 0;}
    .input_video.selfie {
      transform: scale(-1, 1);
    }
  
  
  .output_canvas {
    position:absolute;
    /* text-align: center; */
    left: 50%;
    margin-left: -640px;
  /* transform: translateX(-50%); */
    height: 720px;
    width: 1280px;
    /* left: 0; */
    /* top: 0; */
  }
  
#c{
    position: absolute;
    z-index: 500;
    transform: translate(-50%, -50%) 
}
#wrapper{
    position: absolute;
    z-index: 1000;  
    transform: translate(-50%, -50%) 
}
#c2{
position: absolute;
z-index: 1000;
}

video {
  display: block;
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.removed {
  display: none;
}

/* .invisible {
  opacity: 1;
} */

.disabled {
  opacity: 0.7;
}

.camView {
  padding-right: 0;
  /* padding-left: 10%; */
  /* padding-top: 2%; */
  /* position: relative; */
  /* float: right; */
  /* width: calc(100% - 20px); */
  /* margin: 10px; */
  /* cursor: pointer; */
}

.camView p {
  position: absolute;
  /* padding: 5px; */
  background-color: #9A031E;
  color: #FFF;
  border: 1px dashed rgba(236, 232, 225, 0.3);
  z-index: 20;
  font-size: 12px;
}

.highlighter {
  background: rgba(14, 25, 34, 0.25);
  border: 1px dashed #fff;
  z-index: 15;
  position: absolute;
}

.liveView{
/* position: absolute; */
padding: 0%;
z-index: 10;
margin: 0;
/* left: 50%;
margin-left: 50%;
opacity: 40%; */
}
.webcam{
  margin: 0;
  z-index: 10;
}
#inst{
margin: 0;
}

/* button */
.two {
  margin: 0;
}

.Heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

 /* transform: translateY(25%); */

  width: 100%;
  /* max-width: 240px; */
  /* height: 54px; */
  padding: 5px;
  font-size: 3rem;
  font-weight: 900;
  /* color: #E36414; */
  color:#460B2F;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  margin-bottom: 0;
  font-family: samark;
}
.text1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
margin: 0;
color: #ece8e1;
max-width: 150%;
text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

}
.div1 {
  display: flex;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
div a {
  display: flex;
  width: 100%;
  max-width: 240px;
  height: 54px;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: 900;
  color: #9A031E;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(70, 11, 47, 0.6);
  position: relative;
  margin: 10px 0;
}
div a.white:hover > p {
  color: #ece8e1;
}
div a.white > p {
  background: #ece8e1;
  color: #460B2F;
}
div a.white > p span.base {
  border: 1px solid transparent;
}
div a.transparent:hover > p {
  color: #ece8e1;
}
div a.transparent:hover > p span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}
div a.transparent > p {
  background: #460B2F;
  color: #ece8e1;
}
div a.transparent > p span.base {
  border: 1px solid #9A031E;
}
div a:after, div a:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #460B2F;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
div a:before {
  right: 0;
  left: initial;
}
div a p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
div a p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #9A031E;
}
div a p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #FB8B24;
  position: absolute;
  transition: 0.3s ease-out all;
}
div a p span.bg {
  left: -5%;
  position: absolute;
  background: #9A031E;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
div a p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
div a p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #460B2F;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
div a:hover {
  color: #ece8e1;
}
div a:hover span.bg {
  width: 110%;
}
div a:hover span.text:after {
  background: #ece8e1;
}

.bg-rect{
  background-color: #460B2F;
  /* margin-right:5% ;
  margin-left: 10%;
} */
}

.card {
  background-color: #FB8B24;
  border-radius: 15px;

}
.container{
  padding-top: 2%;
  margin: auto;
  vertical-align: middle;
}
.card-image{
 background-color: #9A031E;
  border-radius: 15px 15px 0 0 ;
}
.card.has-text-centered .card-header,
.card.has-text-centered .card-content,
.card.has-text-centered .card-footer {
  justify-content: center;
  align-items: center;
}
.image {
  left: 50%;
  transform: translateX(-25%);
}